<nz-card>
  <form
    nz-form
    [formGroup]="loginForm"
    (submit)="onSubmit()"
    nzLayout="vertical"
  >
    <nz-form-item>
      <nz-form-label nzRequired nzFor="username">Username</nz-form-label>
      <nz-form-control nzErrorTip="Please input your Username">
        <app-input
          formControlName="username"
          placeholder="Please input your Username"
        ></app-input>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="email">Password</nz-form-label>
      <nz-form-control nzErrorTip="Please input your password">
        <app-input
          formControlName="password"
          placeholder="Please input your password"
          type="password"
          [withSufiz]="true"
        ></app-input>
      </nz-form-control>
    </nz-form-item>
    <div nz-row>
      <div nz-col nzXs="24">
        <app-button label="Log In" class="login-button"></app-button>
      </div>
    </div>
  </form>
</nz-card>
